// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

html, body {
  margin: 0;
  height: 100%;
}

footer { 
  height:5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  position: static;
  right: 0;bottom:0;left:0;
}

.page{
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

.tkt-btn-row {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}

.tkt-form{
  padding: 1%;
}

.tkt-text-field-form {
  margin-left: 4%;
}

.m10{
  margin: 1%;
}

.w-auto{
  width: auto;
}

.tkt-data-form {
  margin-left: 15%;
}
.tkt-form-field-title{
  text-align: start;
}

.tkt-select-form {
  height: 30px;
}

.tkt-squad-form{
  margin-left: 16%;
}

.ml-less1 {
  margin-left: -10px;
}


.ml-less5 {
  margin-left: -5px;
  text-align: start;
}

.tkt-form-btn {
  margin-right: 4%;
  margin-top: 10px;
}

.tkt-form-date-field{
  text-align: center;
}

.tkt-border-form{
  border-color: #c4c8cb;
  border-radius: 6px;

}

.tkt-table-row{
  text-align: center;
}

.tkt-table-ca-column{
  text-align: center;
}

.tkt-table {
  caption-side: bottom;
  border-collapse: collapse;
  text-indent: 0;
  border-color: inherit;
}
.th-criado_em {
  width: 7em;
}

.tkt-table-a {
  color: inherit;
  text-decoration: none;
}

.tkt-table-a > svg{
  width: 1em;
}

.txt-align-c{
  text-align: center;
}

.ui-autocomplete{
  width: 19%;
  background-color: whitesmoke;
  border-radius: 10px;
}

.ui-helper{
  display: none;
}

#chart-1, #chart-2, #chart-3, #chart-4, #chart-5{
  background-color: rgb(255, 255, 255);
}


#status-new{
  background-color: #ffff0052;
  border-radius: 9999px;
  color: #a1832a;
  font-weight: 500;
}

#status-open{
  background-color: #ff600052;
  border-radius: 9999px;
  color: #a50313;
  font-weight: 500;
}

#status-solved{
  background-color: #78ff0052;
  border-radius: 9999px;
  color: #06492a;
  font-weight: 500;
}

#status-closed{
  background-color: #ce00ff52;
  border-radius: 9999px;
}

#status-pending{
  background-color: #00f1ff52;
  border-radius: 9999px;
  color: #1b3e6d;
  font-weight: 500;
  width: 7em;
}

#status-hold{
  background-color: #0012ff52;
  border-radius: 9999px;
}

.table, :after, :before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

.page{
  padding: inherit;
}