// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

html, body {
  margin: 0;
  height: 100%;
}

footer { 
  height:5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  position: static;
  right: 0;bottom:0;left:0;
}

.page{
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

.tkt-btn-row {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}

.tkt-form{
  padding: 1%;
}

.tkt-text-field-form {
  margin-left: 4%;
}

.m10{
  margin: 1%;
}

.w-auto{
  width: auto;
}

.tkt-data-form {
  margin-left: 15%;
}
.tkt-form-field-title{
  text-align: start;
}

.tkt-select-form {
  height: 30px;
}

.tkt-squad-form{
  margin-left: 16%;
}

.ml-less1 {
  margin-left: -10px;
}


.ml-less5 {
  margin-left: -5px;
  text-align: start;
}

.tkt-form-btn {
  margin-right: 4%;
  margin-top: 10px;
}

.tkt-form-date-field{
  text-align: center;
}

.tkt-border-form{
  border-color: #c4c8cb;
  border-radius: 6px;

}

.txt-align-c{
  text-align: center;
}

.ui-autocomplete{
  width: 19%;
  background-color: whitesmoke;
  border-radius: 10px;
}

.ui-helper{
  display: none;
}

#chart-1, #chart-2, #chart-3, #chart-4, #chart-5{
  background-color: rgb(255, 255, 255);
}